.note-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note {
  background-color: #ffe8e8;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(147, 5, 160, 0.9),
    inset 0 0 25px rgba(90, 87, 243, 0.9),
    3px 1px 1px rgba(255, 144, 144, 0.3),
    -1px -3px 1px rgba(147, 147, 255, 0.3),
    -3px 5px 1px rgba(137, 255, 137, 0.3);
  width: 450px;
  height: 250px;
  padding: 5px;
  margin: 25px;
  position: relative;
}

.note span {
  position: absolute;
  left: 10px;
  top: 10%;
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
}
