*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,*:focus,*:hover {
  outline: none;
}

.App {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  color: rgba(147, 5, 160, 0.9);
  margin-bottom: 25px;
}
